$('#add_child_comment').remove();
$('#<%= dom_id(@parent_comment) %>').parent().append('<div class="padding" id="add_child_comment"><%= j render('form') %></div>');
$(window).scrollTop($("#add_child_comment").offset().top);