.padding {
  padding-left: 45px;
}

#comments, #add_comment, #add_child_comment {
  padding-right: 25px;

  header {
      font: italic normal 11px 'Source Sans Pro', sans-serif;
      display: inherit;
      line-height: 1.25;
      text-transform: uppercase;
      letter-spacing: 1px;
  }

  textarea {
    height: 80px;
  }
}