.container {
  @include container();
  padding: 0 25px;

  footer {
    background: none;
    justify-content: flex-start;
  }

  p {
    margin: 0;
  }

  .button_to:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
  }
}

h3.post-title {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.25;
}

.post-header {
  margin-bottom: 15px;
  line-height: 1.0;
}

.post-header .post-labels {
  margin: 10px 0 0 0;
  display: block;
}

.post-credits {
  font: italic normal 11px 'Source Sans Pro', sans-serif;
  margin: 10px 0 25px 0;
  display: inherit;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.field {
  @include form_group();

  textarea {
    width: 400px;
    height: 200px;
  }
}