// colors
$active: #E424F0;
$passive: #5A6DD0;
$controls: #262626;
$input: #C70D0C;
$placeholder: #6C89E5;
$container: #1A1A1A;
$background: #000000;

.navbar {
  background-color: $container;
  nav ul li a:not([role=button]) {
    color: $active;
  }
  nav ul li a:not([role=button]):hover {
    color: $active;
    text-decoration: underline;
    background-color: $controls;
    border-color: $active;
  }

  nav ul li a:not([role=button]).active {
    color: $passive;
    background: $controls;
    border-color: $passive;
  }

  nav ul li {
    color: $passive;
  }
}

form.search {
  input {
    background-color: $controls;
    border-color: $controls;
    color: $input;
  }
  :focus {
    box-shadow: inset 0 0 0 2px #7E71D0;
  }
  input[type=submit] {
    background-color: $controls;
    border-color: $active;
    color: $active;
  }
}

::-webkit-input-placeholder {
  color: $placeholder;
}

:-moz-placeholder { /* Firefox 18- */
  color: $placeholder;
}

::-moz-placeholder { /* Firefox 19+ */
  color: $placeholder;
}

:-ms-input-placeholder {
  color: $placeholder;
}

body {
  background-color: $background;
  color: $passive;
}

a {
  color: $active;
  :hover {
    text-decoration: underline;
  }
}

.alert {
  background-color: $controls;
  border-color: $input;
  color: $input;
}

.logo, h1 {
  color: $placeholder;
}

.container {
  background-color: $container;
  border-color: $container;
  .post-title a {
    color: $passive;
  }
  .post-datetime {
    color: $input;
  }

  p {
    color: $passive;
  }
}

form {
  input[type] {
    background-color: $controls;
    border-color: $controls;
    color: $input;
  }

  input[type]:focus, textarea:focus {
    box-shadow: inset 0 0 0 2px #7E71D0;
  }

  input[type=submit] {
    background-color: $controls;
    border-color: $active;
    color: $active;
  }

  textarea {
    background-color: $controls;
    border-color: $controls;
    color: $input;
  }

  label {
    color: $passive;
  }
}

.editor-toolbar {
  background-color: #fff;
}

.CodeMirror {
  background-color: $controls;
}

.CodeMirror-code {
  color: $input;
}

#comments {
  header {
    background-color: $container;
    color: $input;
  }

  main, footer {
    background-color: $background;
    border-color: $container;
  }


  footer .countdown {
    color: $passive;
  }
}

#comments .container footer .comment-buttons form input[type=submit] {
  background-color: $controls;
  border-color: $active;
  color: $active;
}

.post {
  footer {
    .post-labels {
      .tag {
        a {
          color: $active;
        }
        color: $active;
        background-color: $container;
        border-color: $active;
      }

      .active {
        background-color: $container;
        color: $passive;
        border-color: $passive;
      }
    }

    .post-likes {
      .like {
        background-color: $active;
      }
      .dislike {
        background-color: $passive;
      }

      .post-rating {
        color: $active;
      }
      .negative {
        color: $passive;
      }
    }
  }
}

table {
  tbody tr:nth-child(even), thead tr:nth-child(even) {
    background-color: $container;
  }

  tr:hover {
    border-color: $active;
  }
}

blockquote {
  background: $controls;
  border-left: 3px solid $passive;
}

blockquote:before {
  color: $passive;
}